<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer__copyright">
                    Copyright © Your Website 2021
                </h2>
            </div>
            <div class="col-lg-4">
                <div class="footer__icons d-flex justify-content-center align-items-center">
                    <div class="footer__icons__iconbox">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="footer__icons__iconbox">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="footer__icons__iconbox">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p class="footer__privacy">
                    Privacy Policy   Terms of Use
                </p>
            </div>
        </div>
    </div>
</footer>