.header{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 0;
    transition: 0.4s;
    z-index: 10;
    .navbar{
        &__logo{
            width: 187.23px;
            transition: .3s all;
        }

        .collapse{
            .navbar-nav{

                .nav-item{
                    text-transform: uppercase;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    .nav-link{
                        color: #fff;
                        font-family: $montserrat;
                        font-size: 15.2px;
                        font-weight: 500;
                        transition: .3s all;

                        &:hover{
                             color: $orange;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:990px) {
    .header {
      background-color: $dark;
    }
}

  
@media screen and (max-width:990px) {
    .navbar__logo {
        width: 107.23px;
    }
}